.v-alert {
  position: fixed;
  bottom: 10px;
  min-width: 20rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}
.height-full {
  height: 100vh;
}
.v-list-item--active {
  .v-icon {
    transition: .2s;
    color: #EF8A3E !important;
  }
}
.v-list-item {
  .v-icon {
    transition: .2s;
    color: rgba(255,255,255, 0.4)
  }
  .v-btn {
    .v-icon {
      transition: .2s;
      color: rgba(255,255,255, 0.4)
    }
  }
  span {
    transition: .2s;
    color: rgba(255,255,255, 1)
  }
}
.background-main {
  background-color: #EF8A3E;
}
.expand {
  &-header {
    // display: flex;
    // width: 100%;
  }
}
.service {
  &-header {
    // justify-content: space-between;
    padding: 0 16px;
    > div {
      margin-right: 1rem;
    }
  }
}